# LIST DICTIONARY TUPLE

## LIST [...]　配列
pythonに置けるlistとは多言語に置ける配列に似たもの
まずはやってやってやりまくる

In [1]:
import pandas as pd

In [2]:
list1 = ['apple', 'banana', 'strawberry']

どのようなリストになっているのか確認してみる

In [3]:
pd.DataFrame({'name': list1})

         name
0       apple
1      banana
2  strawberry

ではこの表を参考にして値(value)を取り出してみよう
keyは数字の添え字
listにこの添え字を使ってvalueの値を取り出す

In [4]:
list1[0]

'apple'

In [5]:
list1[1]

'banana'

In [6]:
list1[2]

'strawberry'

数字は後ろからも下記のように取り出せる。

In [7]:
list1[-1]

'strawberry'

In [8]:
list1[-2]

'banana'

In [9]:
list1[-3]

'apple'

では、配列の操作について見ていこう。  
list配列には下記のようなメソッドが用意されています。自分で作成した配列名の後ろにドットをつけた形です。  

    list_name1.append('value') 　　　　　 ※配列の最後に要素が追加されます  
    list_name1.extend(list_name2) 　　　　※配列名と配列名2の二つのリストが結合されます  
    list_name1.insert(index_num,'value')　　※好きな場所に要素を追加できる  
    list_name1.pop(index_num)　　　　　　 ※指定したインデックス番号にある値を削除できる。del list_name1(index_num)でも同じことができる  
    list_name1.remove('value')　　　　　　※特定の値を削除できる。複数ある場合は最初の値だけを削除  
    list_name1.index('value')　　　　　　 ※値からindex_numを調べることができる。複数ある場合は最初のインデックスだけを表示  
    list_name1.count('value')　　　　　　 ※特定の値がいくつ存在しているか  
    list_name1.sort()　　　　　　　　　　 ※昇順にソート。.sort(reverse=True)とすると降順にソート  
    list_name1.reverse(list_name1)　　　　※要素を逆順に入れ替える  

その他にも+演算子、in演算子があります。  
+演算子はextendと同じ働きをします。list_name1 + list_name2となります  
in演算子は要素が存在するかどうかが確認できます。'value' in list_name1でTrueもしくはFalseがリターンされます。  

では、いろいろ数字を入れ替えて試してみよう。まずlist_name1とlist_name2配列を作っておきます。

In [80]:
list_name1 = range(5,10)
list_name2 = range(7,12)

In [81]:
list_name1

[5, 6, 7, 8, 9]

In [82]:
list_name2

[7, 8, 9, 10, 11]

In [83]:
list_name1.append(20)#一番最後に要素を追加

In [84]:
list_name1

[5, 6, 7, 8, 9, 20]

In [85]:
list_name1.extend(list_name2)#配列と配列を結合

In [86]:
list_name1

[5, 6, 7, 8, 9, 20, 7, 8, 9, 10, 11]

In [87]:
list_name1.insert(5,1000)#インデックスの5番目に1000の値を追加

In [88]:
list_name1

[5, 6, 7, 8, 9, 1000, 20, 7, 8, 9, 10, 11]

In [89]:
list_name1.pop(5)#インデックス番号5の値を削除

1000

In [90]:
list_name1

[5, 6, 7, 8, 9, 20, 7, 8, 9, 10, 11]

In [91]:
list_name1.remove(20) #指定した値を削除。最初の値だけ

In [92]:
list_name1

[5, 6, 7, 8, 9, 7, 8, 9, 10, 11]

In [93]:
list_name1.index(10)#値の10のインデックス番号をリターンしてくれる

8

In [95]:
list_name1.count(8)#8という数字が何個存在しているか

2

In [96]:
list_name1.sort()#昇順ソート

In [97]:
list_name1

[5, 6, 7, 7, 8, 8, 9, 9, 10, 11]

In [100]:
list_name1.sort(reverse=True)#降順ソート

In [101]:
list_name1

[11, 10, 9, 9, 8, 8, 7, 7, 6, 5]

In [104]:
list_name1.reverse()#逆順に並べ替え

In [105]:
list_name1

[11, 10, 9, 9, 8, 8, 7, 7, 6, 5]

In [106]:
8 in list_name1#8の値が存在しているかどうか

True

In [107]:
15 in list_name1

False

In [108]:
list_name3 = list_name1 + list_name1#配列同士の結合

In [109]:
list_name3

[11, 10, 9, 9, 8, 8, 7, 7, 6, 5, 11, 10, 9, 9, 8, 8, 7, 7, 6, 5]

In [110]:
list_name4 = list_name1 * 3#配列を3回結合する

In [111]:
list_name4

[11,
 10,
 9,
 9,
 8,
 8,
 7,
 7,
 6,
 5,
 11,
 10,
 9,
 9,
 8,
 8,
 7,
 7,
 6,
 5,
 11,
 10,
 9,
 9,
 8,
 8,
 7,
 7,
 6,
 5]

In [113]:
del list_name4#配列の削除 指定インデックスだけの削除も可能

In [114]:
list_name4

NameError: name 'list_name4' is not defined

appendとextendの違いについて　　

appendは一つの要素のみ追加  
extendは複数の要素を追加できる

In [119]:
list1 = ['apple', 'banana', 'strawberry']

In [120]:
pd.DataFrame({'name': list1})

         name
0       apple
1      banana
2  strawberry

In [121]:
list1.append('pineapple')

In [122]:
pd.DataFrame({'name': list1})

         name
0       apple
1      banana
2  strawberry
3   pineapple

次はextendを利用してリストにデータを複数追加してみよう

In [124]:
list1.extend(['kiwi','cherry'])

In [125]:
pd.DataFrame({'name': list1})

         name
0       apple
1      banana
2  strawberry
3   pineapple
4        kiwi
5      cherry

appendとextendの違いはappendは一つの要素を追加するだけに対し、extendは複数の要素を追加する。

なので、下記を留意しておくこと

In [126]:
 list1.append(['pear',  'plum', 'peach'])

In [127]:
pd.DataFrame({'name': list1})

                  name
0                apple
1               banana
2           strawberry
3            pineapple
4                 kiwi
5               cherry
6  [pear, plum, peach]

このように6の要素の中にリストがネストされていることがわかると思う。これを取り出すためには６の要素へアクセスすれば良い  

ようはインデックス番号6の中にさらに配列が入っているので、インデックス6から値を取り出す。

In [128]:
list1[6]

['pear', 'plum', 'peach']

In [129]:
pd.DataFrame({'name': list1[6]})

    name
0   pear
1   plum
2  peach

もう少し復習していこう。

In [130]:
list2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]# list2 = range(1,20)でも同じ

In [131]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [132]:
pd.DataFrame({'name': list2})

    name
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20

In [142]:
list2[0:10]#インデックス番号0から10までの値を取り出す

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [143]:
list2[5:15]#インデックス番号5から15までの値を取り出す

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [144]:
list2[-5]#配列の一番後ろから5番目の値を取り出す

16

In [145]:
list2[-5:-2]#配列の一番後ろから5番目の値から一番後ろから2番目の値を取り出す

[16, 17, 18]

In [25]:
list2[5:-2]#配列のインデックス番号5から配列の一番後ろから2番目の値を取り出す

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [141]:
list2[10:-5]#配列のインデックス番号10から一番後ろから5番目の値を取り出す

[11, 12, 13, 14, 15]

いくつ飛ばすかを指定できる。６から１６までの要素で３個飛ばし

In [136]:
list2[6:16:3]#配列のインデックス6から16番目のインデックスまでで3個飛ばしで値を取り出す。

[7, 10, 13, 16]

演算子を利用して要素の追加も復習していこう

In [137]:
newlist = list1 + ['melon','grape']

In [138]:
pd.DataFrame({'name': newlist})

                  name
0                apple
1               banana
2           strawberry
3            pineapple
4                 kiwi
5               cherry
6  [pear, plum, peach]
7                melon
8                grape

*演算子で同じ配列同士で結合する

In [139]:
two_multiplied_list = list1 * 2

In [140]:
pd.DataFrame({'name': two_multiplied_list})

                   name
0                 apple
1                banana
2            strawberry
3             pineapple
4                  kiwi
5                cherry
6   [pear, plum, peach]
7                 apple
8                banana
9            strawberry
10            pineapple
11                 kiwi
12               cherry
13  [pear, plum, peach]

次はメソッドを使わずにスライスを使った配列の操作をやってみよう

In [151]:
list1[1] = ('mandarin')#tuple型の場合

In [152]:
pd.DataFrame({'name': list1})

                  name
0                apple
1             mandarin
2           strawberry
3            pineapple
4                 kiwi
5               cherry
6  [pear, plum, peach]

In [154]:
list1[1] = 'banana' #str型の場合

In [155]:
pd.DataFrame({'name': list1})

                  name
0                apple
1               banana
2           strawberry
3            pineapple
4                 kiwi
5               cherry
6  [pear, plum, peach]

In [156]:
list1[1] = ['mandarin']#list型の場合

In [157]:
pd.DataFrame({'name': list1})

                  name
0                apple
1           [mandarin]
2           strawberry
3            pineapple
4                 kiwi
5               cherry
6  [pear, plum, peach]

あっ、配列の中に配列がネストされてしまった。下記のように型が違ってくるので注意が必要。ループ回すときなんかに苦労しちゃう

In [158]:
list1[1]

['mandarin']

In [161]:
list1[1][0]

'mandarin'

In [162]:
type(list1[1])

list

In [164]:
type(list1[1][0])

str

配列を配列の値として操作したい場合は

In [165]:
list1[1:2] = ['mandarin']

In [166]:
pd.DataFrame({'name': list1})

                  name
0                apple
1             mandarin
2           strawberry
3               potato
4              cabbage
5               cherry
6  [pear, plum, peach]

複数の場合は

In [169]:
list1[1:3] = ['kiwi','grape']

In [170]:
pd.DataFrame({'name': list1})

                  name
0                apple
1                 kiwi
2                grape
3               potato
4              cabbage
5               cherry
6  [pear, plum, peach]

スライスについて少し見てみよう  

    list[開始インデックス:終了インデックス]

In [171]:
list1[1:2]

['kiwi']

In [173]:
list1[1:3]

['kiwi', 'grape']

In [176]:
list1[1:]#インデックス1から最後までの値

['kiwi', 'grape', 'potato', 'cabbage', 'cherry', ['pear', 'plum', 'peach']]

In [177]:
list1[:3]#インデックス3までの値

['apple', 'kiwi', 'grape']

In [179]:
list1[:]#全ての値

['apple',
 'kiwi',
 'grape',
 'potato',
 'cabbage',
 'cherry',
 ['pear', 'plum', 'peach']]

リスト操作するときに要素の数を調べると便利な時があります。早速使ってみます。

In [184]:
len(list1)

7

In [185]:
pd.DataFrame({'name': list1})

                  name
0                apple
1                 kiwi
2                grape
3               potato
4              cabbage
5               cherry
6  [pear, plum, peach]

In [186]:
len(two_multiplied_list)

14

In [187]:
pd.DataFrame({'name': two_multiplied_list})

                   name
0                 apple
1                banana
2            strawberry
3             pineapple
4                  kiwi
5                cherry
6   [pear, plum, peach]
7                 apple
8                banana
9            strawberry
10            pineapple
11                 kiwi
12               cherry
13  [pear, plum, peach]

次に配列の削除の復習

In [188]:
del list1[9:]#インデックス番号9から全部を削除

In [189]:
pd.DataFrame({'name': list1})

                  name
0                apple
1                 kiwi
2                grape
3               potato
4              cabbage
5               cherry
6  [pear, plum, peach]

便宜上値を増やしてみて

In [190]:
manylist1 = list1 * 4

In [191]:
pd.DataFrame({'name': manylist1})

                   name
0                 apple
1                  kiwi
2                 grape
3                potato
4               cabbage
5                cherry
6   [pear, plum, peach]
7                 apple
8                  kiwi
9                 grape
10               potato
11              cabbage
12               cherry
13  [pear, plum, peach]
14                apple
15                 kiwi
16                grape
17               potato
18              cabbage
19               cherry
20  [pear, plum, peach]
21                apple
22                 kiwi
23                grape
24               potato
25              cabbage
26               cherry
27  [pear, plum, peach]

In [192]:
del manylist1[9:20]#インデックス番号9から20までの要素を削除

In [193]:
pd.DataFrame({'name': list(manylist1)})

                   name
0                 apple
1                  kiwi
2                 grape
3                potato
4               cabbage
5                cherry
6   [pear, plum, peach]
7                 apple
8                  kiwi
9   [pear, plum, peach]
10                apple
11                 kiwi
12                grape
13               potato
14              cabbage
15               cherry
16  [pear, plum, peach]

だいぶ先に進んできたと思いますがもう少しです。  

次は配列をコピーした時の注意点

In [194]:
list_cp = list1

In [195]:
list_cp

['apple',
 'kiwi',
 'grape',
 'potato',
 'cabbage',
 'cherry',
 ['pear', 'plum', 'peach']]

In [196]:
list_cp[1] = 'banana'#インデックス番号1の値をbananaに変更

In [197]:
list_cp

['apple',
 'banana',
 'grape',
 'potato',
 'cabbage',
 'cherry',
 ['pear', 'plum', 'peach']]

OK問題ないですね。次はlist1を見てみましょう。コピーしてきたものをいじってるんだから、kiwiのままと思うでしょ？

In [198]:
list1

['apple',
 'banana',
 'grape',
 'potato',
 'cabbage',
 'cherry',
 ['pear', 'plum', 'peach']]

そうなんです。list1も変わるんです。これはlist型はimmutableだからです。  

pythonでは全てのオブジェクトには固有のIDがつき、変更するたびにIDが変わるオブジェクト(immutable)と変わらないオブジェクト(mutable)が存在します。

    immutable -> int, str, tuple
    mutable   -> list, dict

以下にで確認していきましょう。まずはimmutable

## immutable

In [218]:
a = 2
print 'a id -> %1d ' % id(a)
a = 3
print 'a id -> %1d ' % id(a)

a id -> 14094704
a id -> 14094680

変数aのidが変わりました。これはimmutableです。aの型はint型ですね。

In [216]:
a = 2
print 'a id -> %1d ' % id(a)
b = a
a = 3
print 'a id -> %1d 値を代入し直すとidが変化' % id(a)
print 'b id -> %1d 変数bはaのコピーなので最初のaと同じidを持っている' % id(b)
print(a,b)

a id -> 14094704
a id -> 14094680 値を代入し直すとidが変化
b id -> 14094704 変数bはaのコピーなので最初のaと同じidを持っている
(3, 2)

immutableなオブジェクトは値を変化させるとidが変わるものと覚えておこう。

In [ ]:
先ほどの変数bですが、もう一度コピーするとどうなるでしょうか？そうですね。aの最新のidと同一になります。

In [219]:
b = a
print 'a id -> %1d ' % id(a)
print 'b id -> %1d ' % id(b)

a id -> 14094680
b id -> 14094680

次にmutableを見ていきましょう

## mutable

In [389]:
a = [1,2,3]
print 'a id -> %1d ' % id(a)
a.append(4)
print 'a id -> %1d ' % id(a)
del a[0]
print 'a id -> %1d ' % id(a)

a id -> 140597933289128
a id -> 140597933289128
a id -> 140597933289128

idは全て同一です。ではコピーしていきましょう。

In [390]:
b = a
print 'a id -> %1d ' % id(a)
print 'b id -> %1d ' % id(b)

a id -> 140597933289128
b id -> 140597933289128

当然同じですね。b配列をさわってみます。

In [391]:
b[0] = [2]
print 'a id -> %1d ' % id(a)
print 'b id -> %1d ' % id(b)

a id -> 140597933289128
b id -> 140597933289128

変化させてもidは変わりません。なので配列a bともに値が変わるのです。  

値はオブジェクトidを介してやりとりされるイメージで捉えると分かりやすいかな。  

では、idを変えてコピーしたい場合。便利なcopyライブラリのdeepcopy()関数が提供されているのでそれを使うか、下記の方法を使う

In [224]:
a = [1, 2, 3]
b = a[:]
print 'a id -> %1d ' % id(a)
print 'b id -> %1d ' % id(b)

a id -> 140597933191320
b id -> 140597933234728

idが変わったので、それぞれが独立した形になる。ただし、この方法はnumpy arrayでは使えないらしい。これを解決させる方法が下記となる。

In [230]:
a = [1, 2, 3]
b = []
b[:] = a
print 'a id -> %1d ' % id(a)
print 'b id -> %1d ' % id(b)

a id -> 140597933099344
b id -> 140597933234728

空の配列を準備して、そちら側のidに引き継ぐ方法です。スライスを使った方のidを引き継ぐということですね。  

つまり、idは左辺を利用して、値は右辺を利用するってこと 

スライスを使わない場合は右辺のidがコピーされる。

In [231]:
a = [1, 2, 3]
b = []
b = a
print 'a id -> %1d ' % id(a)
print 'b id -> %1d ' % id(b)

a id -> 140597933255064
b id -> 140597933255064

idと値という言葉が出てきました。これらを比較演算子を使って比較することを考えてみましょう。

In [236]:
a = [1]
b = [1]
print 'a id -> %1d ' % id(a)
print 'b id -> %1d ' % id(b)
if a == b:
  print '値が同じです。'
if a is b:
  print 'idが同じです。'

a id -> 140597933194416
b id -> 140597933255064
値が同じです。

In [237]:
a = [1]
b = a
print 'a id -> %1d ' % id(a)
print 'b id -> %1d ' % id(b)
if a == b:
  print '値が同じです。'
if a is b:
  print 'idが同じです。'

a id -> 140597933194632
b id -> 140597933194632
値が同じです。
idが同じです。

多次元配列ではもっとわけわかめ。多次元配列の作り方で思いがけない苦労をすることになります。

In [403]:
a = [[0]*5]*5

aのインデックス番号3の中にある配列のインデックス番号2の値を2にしたいと思います。下記のようになりますね。

In [282]:
a[3][2] = 2

In [294]:
a

[[0, 0, 2, 0, 0],
 [0, 0, 2, 0, 0],
 [0, 0, 2, 0, 0],
 [0, 0, 2, 0, 0],
 [0, 0, 2, 0, 0]]

配列aにある他のインデックスの中の配列全てが変化しています。配列の作り方によってはこのような挙動になってしまう  

下記の場合は大丈夫のようです。

In [406]:
a[0] = [1,1,0,1,1]

In [407]:
a

[[1, 1, 0, 1, 1],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

何れにしてもこうならないような配列の初期化をしておけばいい。多次元配列の場合ね。  

ここではfor内包表記を使います。copyライブラリでもOK

In [271]:
a = [[0 for i in range(5)] for j in range(5)]
a[3][2] = 2
print a

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 2, 0, 0], [0, 0, 0, 0, 0]]

うむ、これで意図通り動いた。  

多次元扱うならnumpy arrayを用いたほうが良いか。

ちょっと寄り道。for内包表記について  

内包表記はリストや辞書のループ処理をかんたんに書くための記法

In [415]:
[x ** 2 for x in [1, 2, 3, 4, 5]]
# 配列の値それぞれを2乗し配列で返す

{1, 4, 9, 16, 25}

In [422]:
for x in [1,2,3,4,5]:
    print x ** 2
# 配列の値それぞれを2乗しintで返す

1
4
9
16
25

内包表記と同じように配列で返すためには下記のようになってしまう。  

一つずつ値を取り出して、それぞれ単体で処理するのでバラバラ  

配列を配列のまま処理できるところが便利なところ。

In [421]:
x2 = []
for x in [1,2,3,4,5]:
    x2.append(x ** 2)
print x2
# 配列の値それぞれを2乗し配列で返す

[1, 4, 9, 16, 25]

下記も同じような結果を返す。

In [425]:
map(lambda x:x**2, [1,2,3,4,5])
# lambda x: x の記法でlambda xのxが引数で2番目に出てくるxが返り値。
# labbda 1: 1**2
# labbda 2: 2**2
# labbda 3: 3**2
# labbda 1: 4**2
# labbda 1: 5**2の計算

[1, 4, 9, 16, 25]

速度的には内包表記のほうが早いとされていて、関数の中で関数を利用したい場合はmap、使わなくても良い場合は内包表記というように使い分ける場合が多い  

あと内包表記とfor表記だと内包表記のほうが2倍高速とだれている。

lambda関数をsorted(), filter()でやってみる。

In [426]:
filter(lambda x: x==2, [1,2,3,2,4,2,5,6])
#値が2のものだけ抽出する。

[2, 2, 2]

In [433]:
a = [[7, 2], [3, 4], [5, 5], [10, 3]]
sorted(a, key=lambda x: x[1] )
# 2番目の要素でソートをかける

[[7, 2], [10, 3], [3, 4], [5, 5]]

In [434]:
map((lambda x: x * 2), filter((lambda x: x % 2 == 0),[1,2,3,4,5,6,7,8,9]))
# 配列から偶数だけを取り出して2倍する

[4, 8, 12, 16]

では、もっかいforの復習

In [458]:
[x for x in [x ** 2 for x in range(1,10)] if x < 50]
# 1から10までの数字に順番に2をかけて50未満の場合に左のforに引き渡して配列に格納

[1, 4, 9, 16, 25, 36, 49]

In [442]:
[i*3 for i in range(1,10)]
# 1から10個の値に順番に3をかけて配列に格納

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [457]:
[[x * y for x in range(1,10)] for y in range(1,10)]
# 九九

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

最後にlist()関数について

## list()関数

tuple型からlist型への変換  

str型からlist型への変換  

ようはforで回して配列にappendしてるのと同じstr型をforで回すと1文字づつの処理になるし、tupleはそれぞれの要素での処理になるのでこのようになる。

In [530]:
tup = tuple(range(1000))
%timeit list(tup)

100000 loops, best of 3: 2.79 µs per loop

In [475]:
list('abcdefg')

['a', 'b', 'c', 'd', 'e', 'f', 'g']

forでやるとこんな感じ

In [488]:
def foo():
    i = []
    tup = tuple(range(1000))
    for x in tup:
        i.append(x)

%timeit foo()

10000 loops, best of 3: 81.4 µs per loop

mapでやるとこんな感じ

In [483]:
tup = tuple(range(1000))
%timeit map(lambda x:x, tup)

10000 loops, best of 3: 96 µs per loop

内包表記だと

In [513]:
tup = tuple(range(1000))
%timeit [x for x in tup]

10000 loops, best of 3: 27.7 µs per loop

list作りで一番高速なのはlist関数  

    list()        2.81 µs per loop
    for           81.4 µs per loop
    map()         96 µs per loop
    for内包表記   27.5 µs per loop

In [499]:
a = {'list()':2.81, 'for':81.4, 'map()':96, 'for inner':27.5}
sorted(a.items(), key=lambda a: a[1] )

[('list()', 2.81), ('for inner', 27.5), ('for', 81.4), ('map()', 96)]

list()が一番早いようです

これでlistの基礎は終わりだと思います。  

実践で利用して困ったことを蓄積していきながら、コツコツと解決して前に進んでいきましょう。

次はtupleに行きます。

# tuple (...)

listに似ているが要素の値を変更することができない。Dictionaryの複合キーに指定できる。listはsort可能だがtupleはできない。やる場合は一度list()関数などで変換してからになる。関数で複数戻り値を返す際に使える

In [51]:
tuple1 = (10,20,30)

In [63]:
pd.DataFrame({'name': list(tuple1)})

   name
0    10
1    20
2    30

ちなみによく出てくるlist()関数ですがこんな感じでリストを作ってくれる

In [64]:
list(tuple1)

[10, 20, 30]

tuple (...)形式からlist [...]形式に変わってるのがわかると思う。

tupleも値へのアクセス方法はlistと同じ

In [65]:
tuple1[0]

10

In [66]:
tuple1[1]

20

In [67]:
tuple1[2]

30

tupleの型確認

In [89]:
type(tuple1)

tuple

先ほどtupleは値の変更ができないと書きましたが実験

In [99]:
tuple1[0] = 100

TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment　このエラーが出てくると思います。

tupleから変数に代入が便利。一気に代入可能

In [70]:
a,b,c = tuple1

In [72]:
a

10

In [73]:
b

20

In [74]:
c

30

関数で複数の値をリターンできる。

In [91]:
def func():
  return 1,2,3,4
aa, bb, cc, dd = func()

In [92]:
aa

1

In [93]:
bb

2

In [94]:
cc

3

In [95]:
dd

4

先ほどtupleは値を変更できないと書きました。それは何を意味するのかというと、複数のデータで一つの意味をなすもの。サーバスペックなんかはtupleが良いかも

なのでサーバスペックでtupleを利用してdictionaryのキーとして利用する用途を考えてみる

In [100]:
spec = {}
spec[('3.6GHz', '256GB')] = 'for backend'
spec[('2.4GHz', '128GB')] = 'for frontend'

In [101]:
spec.items()

[(('2.4GHz', '128GB'), 'for frontend'), (('3.6GHz', '256GB'), 'for backend')]

In [102]:
pd.DataFrame({'name': list(spec)})

              name
0  (2.4GHz, 128GB)
1  (3.6GHz, 256GB)

サーバスペックにより利用用途を検索する場合であれば、そもそも格納されているデータがバラバラなので、そのまま整形せずにキーで利用できるなら便利じゃなかろうか

箸休めのforループ

In [98]:
for i in tuple1:
    print i

10
20
30

# Dictionary {...} 連想配列

In [103]:
dict = {"apple":100, "banana":80, "lemon":50}

中身を確認

In [104]:
dict

{'apple': 100, 'banana': 80, 'lemon': 50}

型確認

In [108]:
type(dict)

dict

表形式でも確認

In [110]:
pd.DataFrame.from_dict(dict, orient='index')

          0
lemon    50
apple   100
banana   80

なんかカッコ悪いので

In [109]:
pd.DataFrame(list(dict.items()),columns=['name','price'])

     name  price
0   lemon     50
1   apple    100
2  banana     80

では、色々取り出してみよう

In [111]:
dict.keys()

['lemon', 'apple', 'banana']

In [112]:
dict.values()

[50, 100, 80]

In [113]:
dict.items()

[('lemon', 50), ('apple', 100), ('banana', 80)]

forで一気に中身を確認してみよう

In [122]:
for key, value, item in (dict.keys(), dict.values(), dict.items()):
    print key, value, item

lemon apple banana
50 100 80
('lemon', 50) ('apple', 100) ('banana', 80)

もっとみやすいようにzipを利用。zipはそれぞれのシーケンス番号。perlでいうと添え字番号同士で同時に処理を行ってくれる関数。zipを使わない場合はdict.keys()から処理、次にdict.values()、最後にdict.items()

In [123]:
for key, value, item in zip(dict.keys(), dict.values(), dict.items()):
    print key, value, item

lemon 50 ('lemon', 50)
apple 100 ('apple', 100)
banana 80 ('banana', 80)

色々な値の取り出し方

In [124]:
list(dict)

['lemon', 'apple', 'banana']

In [125]:
[k for k in dict.keys()]

['lemon', 'apple', 'banana']

In [126]:
[k for k in dict]

['lemon', 'apple', 'banana']

In [127]:
[k for k in list(dict)]

['lemon', 'apple', 'banana']

In [128]:
dict['lemon']

50

In [129]:
dict['apple']

100

In [130]:
dict['banana']

80

値の操作

In [131]:
dict['apple'] = 200

In [132]:
dict['apple']

200

値の追加

In [133]:
dict['strawberry'] = 500

In [134]:
dict['strawberry']

500

In [135]:
pd.DataFrame(list(dict.items()),columns=['name','price'])

         name  price
0  strawberry    500
1       lemon     50
2       apple    200
3      banana     80

In [136]:
del dict['lemon']

In [137]:
pd.DataFrame(list(dict.items()),columns=['name','price'])

         name  price
0  strawberry    500
1       apple    200
2      banana     80

要素の全クリア

In [139]:
dict.clear()

In [140]:
dict

{}

# ではこれらを踏まえて練習問題

下記のようなjson形式のファイルがあります。各要素へアクセスしてみてください。答えは書いてあるのでなんでそうなるのか考えましょう

In [141]:
api = {"detect": [{"right": 351, "bottom": 525, "top": 409, "label": "breast", "prob": 0.614838, "left": 232}, {"right": 575, "bottom": 585, "top": 449, "label": "breast", "prob": 0.471375, "left": 452}, {"right": 400, "bottom": 1025, "top": 918, "label": "pussy", "prob": 0.802765, "left": 231}]}

0.614838を取り出してみてください

In [142]:
api['detect'][0]['prob']

0.614838

{"right": 351, "bottom": 525, "top": 409, "label": "breast", "prob": 0.614838, "left": 232}を取り出してみてください

In [143]:
api['detect'][0]

{'bottom': 525,
 'label': 'breast',
 'left': 232,
 'prob': 0.614838,
 'right': 351,
 'top': 409}

dictionaryのキーを取り出してみてください

In [144]:
api['detect'][2].keys()

['right', 'bottom', 'top', 'label', 'prob', 'left']