## pandas

python上でデータ解析をしやすくする支援ツールキット  

まずは pandasをインポート

#### install

    pip install pandas

####  その他インストール

    #ubuntu/debian
    apt-get install python-pandas
    # centos/rhel  EPEL repo
    yum install python-pandas

In [20]:
import pandas as pd

pandas用のデータフレームフォーマットデータを作成する

listの組み合わせでデータを作成

In [28]:
ind = ['debian','ubuntu','fedora','centos/rhel']
ins = [['stable','sudo apt-get install python-pandas'],['stable','sudo apt-get install python-pandas'],['stable','dnf install python-pandas'],['EPEL','yum install python-pandas']]

In [29]:
df = pd.DataFrame(ins)
df
#  値だけを入れた場合はこんな感じなテーブルになる

        0                                   1
0  stable  sudo apt-get install python-pandas
1  stable  sudo apt-get install python-pandas
2  stable           dnf install python-pandas
3    EPEL           yum install python-pandas

In [30]:
df = pd.DataFrame(ins, columns = list(['Status', 'method']))
df
# 値とカラムを入れた場合はこんな感じなテーブルになる

   Status                              method
0  stable  sudo apt-get install python-pandas
1  stable  sudo apt-get install python-pandas
2  stable           dnf install python-pandas
3    EPEL           yum install python-pandas

In [33]:
df = pd.DataFrame(ins,index = ind, columns = list(['Status', 'method']))
df
 # 値とカラムとインデックスを入れた場合はこんな感じなテーブルになる

             Status                              method
debian       stable  sudo apt-get install python-pandas
ubuntu       stable  sudo apt-get install python-pandas
fedora       stable           dnf install python-pandas
centos/rhel    EPEL           yum install python-pandas

list,dictからデータを作成

In [74]:
inst_dist = [{'Distribution':'debian', 'Status':'stable', 'method':'sudo apt-get install python-pandas'}, {'Distribution':'ubuntu', 'Status':'stable', 'method':'sudo apt-get install pyhotn-pandas'},{'Distribution':'Fedora', 'Status':'stable', 'method':'dnf install python-pandas'}, {'Distribution':'centos/rhel', 'Status':'EPEL', 'method':'yum install python-pandas'}]

In [75]:
pd.DataFrame(inst_dist)

  Distribution  Status                              method
0       debian  stable  sudo apt-get install python-pandas
1       ubuntu  stable  sudo apt-get install pyhotn-pandas
2       Fedora  stable           dnf install python-pandas
3  centos/rhel    EPEL           yum install python-pandas

In [77]:
ind =  [inst_dist[0]['Distribution'],inst_dist[1]['Distribution'],inst_dist[2]['Distribution'],inst_dist[3]['Distribution']]
df2 = pd.DataFrame(inst_dist, index = ind)
df2 = df2.drop("Distribution", axis=1)
df2

             Status                              method
debian       stable  sudo apt-get install python-pandas
ubuntu       stable  sudo apt-get install pyhotn-pandas
Fedora       stable           dnf install python-pandas
centos/rhel    EPEL           yum install python-pandas

データの概要をみてみよう

In [78]:
df.index

Index([u'debian', u'ubuntu', u'fedora', u'centos/rhel'], dtype='object')

In [79]:
df.keys

<bound method DataFrame.keys of              Status                              method
debian       stable  sudo apt-get install python-pandas
ubuntu       stable  sudo apt-get install python-pandas
fedora       stable           dnf install python-pandas
centos/rhel    EPEL           yum install python-pandas>

In [80]:
df.values

array([['stable', 'sudo apt-get install python-pandas'],
       ['stable', 'sudo apt-get install python-pandas'],
       ['stable', 'dnf install python-pandas'],
       ['EPEL', 'yum install python-pandas']], dtype=object)

In [82]:
df.columns

Index([u'Status', u'method'], dtype='object')

In [86]:
df.dtypes

Status    object
method    object
dtype: object

In [89]:
len(df)
# 行数の確認

4

In [90]:
df.shape
#（ 行数、列数）で返す

(4, 2)

In [91]:
df.info
# 型の確認

<bound method DataFrame.info of              Status                              method
debian       stable  sudo apt-get install python-pandas
ubuntu       stable  sudo apt-get install python-pandas
fedora       stable           dnf install python-pandas
centos/rhel    EPEL           yum install python-pandas>

In [92]:
df.describe()
# サマリー

        Status                              method
count        4                                   4
unique       2                                   3
top     stable  sudo apt-get install python-pandas
freq         3                                   2

In [93]:
df.head(2)
# 先頭2行

        Status                              method
debian  stable  sudo apt-get install python-pandas
ubuntu  stable  sudo apt-get install python-pandas

In [95]:
df.tail(2)
# 後ろから2行

             Status                     method
fedora       stable  dnf install python-pandas
centos/rhel    EPEL  yum install python-pandas

In [97]:
df['Status']

'stable'

In [105]:
df[["Status","method"]]

             Status                              method
debian       stable  sudo apt-get install python-pandas
ubuntu       stable  sudo apt-get install python-pandas
fedora       stable           dnf install python-pandas
centos/rhel    EPEL           yum install python-pandas

In [122]:
df.iloc[:,0]

debian         stable
ubuntu         stable
fedora         stable
centos/rhel      EPEL
Name: Status, dtype: object

In [123]:
df.iloc[:,0:2]

             Status                              method
debian       stable  sudo apt-get install python-pandas
ubuntu       stable  sudo apt-get install python-pandas
fedora       stable           dnf install python-pandas
centos/rhel    EPEL           yum install python-pandas

In [126]:
df.loc[:,"Status"]

debian         stable
ubuntu         stable
fedora         stable
centos/rhel      EPEL
Name: Status, dtype: object

In [128]:
df.loc[:,["Status","method"]]

             Status                              method
debian       stable  sudo apt-get install python-pandas
ubuntu       stable  sudo apt-get install python-pandas
fedora       stable           dnf install python-pandas
centos/rhel    EPEL           yum install python-pandas

In [138]:
df.iloc[0:1,]

        Status                              method
debian  stable  sudo apt-get install python-pandas

In [173]:
select = pd.Series(df.columns).str.contains("method") # カラムにmethodを含む文字列があるかどうかをカラムの順番に合わせてTrue, Falseの配列を作ってリターン
df.loc[:,list(select)]   # 論理配列を使って列の表示制御
df.loc[:,np.array(select)]
#np.array(select)
#list(select)
select

[False, True]

In [174]:
df.loc[:,list([False,True])]
#なんか難しそうなんだけど、こうしてるだけ。
#一番目のカラムはFalseで表示させず、二番目のカラムはTrueで表示させる。

                                         method
debian       sudo apt-get install python-pandas
ubuntu       sudo apt-get install python-pandas
fedora                dnf install python-pandas
centos/rhel           yum install python-pandas

pandasではSeriesとDataFrameという二つのデータ構造が用意されています。  

Seriesは一次元
DataFrameは二次元

In [323]:
nan = float("nan")
sr = pd.Series(data=[0.5, 0.8, nan], index=['foo', 'bar', 'baz'],  name='value')
# data=は指定しなくてもいける

In [294]:
sr

foo    0.5
bar    0.8
baz    NaN
Name: value, dtype: float64

In [295]:
sr[0]
#インデックス番号を指定して値を抽出

0.5

In [320]:
sr['foo']
#インデックス名を指定して値を抽出

0.5

In [321]:
sr.foo
#アトリビュートで値を抽出

0.5

In [324]:
sr2 = pd.DataFrame(data=[0.5, 0.8, nan], index=['foo', 'bar', 'baz'])
# data=は指定しなくてもいける

In [325]:
sr2

       0
foo  0.5
bar  0.8
baz  NaN

In [326]:
sr2[0]
#カラム番号を指定して、そのカラム全体を表示

foo    0.5
bar    0.8
baz    NaN
Name: 0, dtype: float64

In [334]:
sr2.iloc[0,0]
# インデックス番号が０でカラムが0番目の表示

0.5

 #### dict型もSeriesに渡せる

In [303]:
sr3 = pd.Series({'a':1,'b':2,'c':3})

In [304]:
sr3

a    1
b    2
c    3
dtype: int64

In [305]:
sr3[0]

1

In [306]:
sr3['a']

1

In [319]:
sr3 = pd.Series(index=['A','B','C'])
#データがNaNになるデータができる

In [316]:
sr3

A   NaN
B   NaN
C   NaN
dtype: float64

寄り道
### NaNの見つけ方

In [300]:
df = pd.DataFrame(index=[0,1,2,3], columns=[0,1,2,3])

In [273]:
df

     0    1    2    3
0  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN

In [276]:
df.iloc[3,3]=5

In [277]:
df

     0    1    2    3
0  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN    5

In [279]:
type(df.iloc[0,0])

float

In [280]:
type(df.iloc[3,3])

int

In [281]:
df.iloc[0,0] == df.iloc[0,0]

False

In [282]:
df.iloc[3,3] == df.iloc[3,3]

True